.input {
  display: flex;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 5px;
}
.submit {
  width: 95px;
  height: 35px;
  border-radius: 10px;
}
.error {
  border: 2px solid red;
}
.errorMessage {
  color: red;
  font-size: 1.25rem;
}
