a {
  text-decoration: none;
  color: inherit;
}
.allCards {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 90vw;
}
.usersCard {
  width: 170px;
  height: 220px;
  text-align: left;
  border: 1px solid gray;
  padding: 10px;
}
